:root {
  height: 150%;
}

h1 {
  margin-top: 200px;
}

.content-observer {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100vh;
}

.content-observer>img {
  width: 500px;
}

.opacidad {
  filter: opacity(.5);
}