
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}
*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
/* ? formulario  */
textarea {
  font-family: inherit;
  resize: none;
}
input[type="text"],
input[type="email"],
textarea {
  border: thin solid hsl(0, 0%, 87%);
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}
button,
input[type="submit"],
input[type="reset"] {
  border: thin solid hsl(0, 0%, 27%);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0;
  display: inline-block;
  background-color: hsl(0, 0%, 87%);
  color: hsl(0, 0%, 27%);
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
hr {
  margin: 2rem auto;
}
img {
  max-width: 80%;
  height: auto;
}
label {
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: inline-block;
  color: #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}
select {
  border: thin solid hsl(0, 0%, 87%);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 100%;
  color: hsl(0, 0%, 27%);
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 0.5rem;
  border-bottom: thin solid hsl(0, 0%, 87%);
}


@media screen and (min-width: 1024px) {
  .grid-1-2 {
    min-width: 100VW;
    display: grid;
    grid-template-columns: 30% 1fr;
    /* align-items: start; */
    grid-template-areas: 
    "form details";
    gap: 2rem;
  }
  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}
p{
  font-size: .8rem;
}
.song-form{
  grid-area: form;
}
.details{
  display: grid;
  grid-template-columns: 1fr 1fr;
}